html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

p,div,a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.header {
    margin-top: 10px;
    position: absolute;
    display: flex;
    top: 20px;
    z-index: 10;
    font-size: .3rem;
    height: .5rem;
    line-height: .5rem;
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: show-header .5s linear 1s forwards normal;
}

.header-link {
    color: #fff;
    margin: auto;
    display: inline-block;
}

.header-link-border {
    border-right: solid 1px #fff;
    width: 1px;
    box-sizing: border-box;
    margin: 5px 0;
}

#hello {
    width: 100%;
    height: 100%;
    position: relative;
}

.hello-rainbow {
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(to bottom,#F5A3A6 30%,#E68285 80%, #933041);
}

.hello-rainbow img {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.rainbow-bg {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.rainbow-bg img{
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    opacity: 0;
    animation: show .5s linear 1s forwards normal;
}

.front {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 8;
}

.img-chu {
    opacity: 0;
    z-index: 3;
    animation: show-font .2s ease-in 2s forwards normal;
}

.img-dao {
    opacity: 0;
    z-index: 3;
    animation: show-font .2s ease-in 2.3s forwards normal;
}

.img-kuai {
    opacity: 0;
    z-index: 3;
    animation: show-font .2s ease-in 2.6s forwards normal;
}

.img-le {
    opacity: 0;
    z-index: 3;
    animation: show-font .2s ease-in 2.9s forwards normal;
}

.img-border {
    opacity: 0;
    z-index: 4;
    animation: show-border .5s ease-in forwards normal;
}

.img-zhongshou {
    opacity: 0;
    z-index: 4;
    animation: show-welcome 1s linear 3s forwards normal;
}

.welcome {
    color: #000;
    z-index: 9;
    position: absolute;
    bottom: .5rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 5rem;
    height: 1rem;
    color: #333;
    line-height: .5rem;
    font-size: .3rem;
    opacity: 0;
    animation: show-welcome 1s linear 3s forwards normal;
}

@keyframes show-font{
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show-border{
    0% {
        opacity: 1;
        transform: scale3d(1.1,1.1,1.1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}

@keyframes show-welcome{
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
    }
}

@keyframes show-header{
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
    }
}

.welcome-bg {
    border-radius: .2rem;
    z-index: -1;
    position: absolute;
    background-color: #eee;
    opacity: .5;
    width: 100%;
    height: 100%;
}

.title {
    padding: 20px;
    margin: 0 20px;
    text-align: center;
    font-size: .36rem;
    border-bottom: solid 1px #ddd;
}

.list {
}

.item {
    display: block;
    margin: 20px 0;
    padding: 0 20px;
    color: #666;
}

.item-title {
    display: block;
    color: #000;
    font-size: .30rem;
    padding-left: 10px;
}

.item-desc {
    margin-top: 10px;
    display: block;
    font-size: .24rem;
}

.rainbow-icon {
    margin: 0;
    display: inline-block;
    height: .36rem;
    width: .36rem;
}

.rainbow-icon img{
    width: 100%;
}

.p-intro {
    font-size: .24rem;
    margin: 20px;
}

.p-content {
    font-size: .24rem;
    text-indent: .48rem;
    line-height: .4rem;
    margin: 20px;
}

.a-baike {
    display: block;
    margin: 5px 20px;
    font-size: .24rem;
    color: #BF3EFF;
}

.zhipai-desc {
    padding-left: 10px;
}

.p-go {
    display: block;
    font-size: .24rem;
    color: #CD3278;
    text-align: center;
}

.img-banner {
    width: 100%;
    display: block;
}

.img-banner img {
    width: 100%;
}

.p-img img{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.contact-info {
    margin: 20px 0;
    color: #000;
    text-align: center;
    font-size: .20rem;
}

.contact-info a {
    color: #4682B4;
}

.item-title::before {
    content: "·";
    position: absolute;
    left: 20px;
    font-weight: 700;
}

.loading {
    font-size: .24rem;
    text-align: center;
    margin: 20px;
}

.page-control {
    position: relative;
    text-align: center;
    font-size: .24rem;
    color: #CD3278;
    margin: 0 auto 20px auto;
}

.page-count {
    position: relative;
}

.page-btn {
    width: 2rem;
    position: absolute;
    top: 0;
}

.last-page {
    left: -2rem;
}

.next-page {
    right: -2rem;
}